
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Playpen+Sans+Arabic:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
:root {
    --sky-1:#7dbce3;
    --dark_white:#ccdbf0;
    --light_violet:#b17be0;
    --sky-2:#7379f0;
    --sky-3:#565ecc;
    --pink:#ee73f0;
    --blue:#0011ff;
    --red-orange:var(--red-orange)
    
}



.modal-backdrop {
  z-index: 9998 !important;
}
.modal {
  z-index: 9999 !important;
}



hr {
    color: #fff;

}

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




 * body {
    background: linear-gradient(to right, #A8C2F0, #6C93E0, #2750A5);
 }


 



.header{
    overflow: hidden;
    position: relative;
    z-index: 0;   
}
.header .nav {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 0;
    overflow-x: hidden;
    font-weight: 400;   
}
.header .nav ul{
    display: flex;
    justify-items: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;  
}

.header .nav ul li a{
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;  
}
.header .nav ul li ,
:placeholder-shown{
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;  
    padding: 5px;
    color: #fff;
    border-radius: 10px;
}

.header .nav ul li a:hover{
    background:var(--sky-3);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav img{
    width: 60px;
    height: auto;
    border-radius:  50%;
    
}
.nav img:hover{
    cursor: pointer;
    opacity: .3;
    
}


.footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: transparent;
    
}

.footer p{
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    
}
.footer p strong{
    font-weight: 300;    
}

h5{
    text-align: center;
    color: #fff;
    margin: 20px;

}

i {
    border-radius: 50%;
    font-size: xx-large;
    margin-top: 20px;
    padding: 5px;
}

i:hover {
    scale: 1.5;
    transition: all ease 0.3s;
}
.home {    
    
    width: 100%;
    height: auto;
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 20px;
    
}

.home h1{ 
    /* padding: 20px 10px; */
    color: var(--blue);
    margin: 20px 50px;
    font-size: 50px;
    animation: typing 8s steps(13) infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    0% {
        width: 0ch;
    }
    25% {
        width: 5ch;
    }

    50% {
        width: 13ch;
    }
    100% {
        width: 0ch;
    }
}
.home p{  
    /* padding: 20px 10px; */
    color:var(--blue);
    margin: 5px 50px;
    font-size: 14px;
    /* line-height: 40px; */
    /* font-weight: 600; */
}

#contact ul {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}